<!-- @header -->
<script type="text/javascript">
    $("button").button();
</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#news_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>[#news_cats_header_title#]</h3>
            %table%
            <fieldset class="page_submit_field">
                <button onclick="jspub_click('cat_form')">[#news_add_cat_label#]</button>
            </fieldset>
        </div>
    </div>
</div>
<!-- @table_header -->
            <table class="admin_table">
                <tr>
                    <th>[#news_cat_id#]</th>
                    <th>[#news_cat_name#]</th>
                    <th>[#news_cat_description#]</th>
                    <th></th>
                </tr>
<!-- @table_body-->
                <tr>
                    <td>%cat_id%</td>
                    <td><a href="#" onclick="jspub_click('cat_form&id=%cat_id%')">%cat_name%</a></td>
                    <td>%cat_description%</td>
                    <td>
                        <a href="#" onclick="jspub_click('cat_form&id=%cat_id%')"><img src="/admin/templates/default/images/icon_edit.gif" alt="[#news_list_cat_action_edit#]" /></a>
                        <a href="#" onclick="jspub_confirm('cat_delete&id=%cat_id%','[#news_cat_del_alert#]')"><img src="/admin/templates/default/images/icon_delet.gif" alt="[#news_list_cat_action_del#]" /></a>
                    </td>
                </tr>
<!-- @table_footer -->
            </table>
<!-- @no_data -->
            <center>[#news_cats_table_empty#]</center>
<!-- @form -->
<script type="text/javascript">
    $("button").button();
</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#news_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>%form_header%</h3>
            <form action="%form_action%" method="POST" enctype="multipart/form-data" id="save_cat">
                <input type="hidden" name="cat_id" value="%cat_id%">
                <fieldset>
                    <label for="newsi_cat_name">
                        [#news_cat_name#]:<br/>
                    </label>
                    <input type="text" name="cat_name" id="newsi_cat_name" value="%cat_name%">
                </fieldset>
                <fieldset>
                    <label for="newsi_cat_description">
                        [#news_cat_description#]:
                    </label>
                    <textarea type="text" name="cat_description" id="newsi_cat_description">%cat_description%</textarea>
                </fieldset>
                <fieldset class="page_submit_field">
                    <input type="button" name="submit" value="[#news_cat_edit_save_label#]" onclick="jspub_form_submit('save_cat','%form_action%')">
                </fieldset>
            </form>
        </div>
    </div>
</div>