<!-- @header -->
<<<<<<< HEAD
=======
<script type="text/javascript">
    $("button").button();
</script>
>>>>>>> 87768334148cdeba6b297f42ca587b579229490f
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#catalog_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>[#catalog_cupons_header_title#]</h3>
            %table%
            <fieldset class="page_submit_field">
                <button onclick="jspub_click('show_cupon_form&id=')">[#catalog_add_cupon_label#]</button>
            </fieldset>
        </div>
    </div>
</div>

<!-- @table_header -->
            <table class="admin_table">
                <tr>
                    <th>[#catalog_cupon_textcode#]</th>
                    <th>[#catalog_cupon_created#]</th>
                    <th>[#catalog_cupon_expiration#]</th>
                    <th>[#catalog_cupon_use_count#]</th>
                    <th>[#catalog_cupon_type#]</th>
                    <th>[#catalog_cupon_cupon_value#]</th>
                    <th></th>
                </tr>
<!-- @table_body-->
                <tr>
                    <td><b>%cupon_textcode%</b></td>
                    <td>%cupon_created%</td>
                    <td>%cupon_expiration%</td>
                    <td>%cupon_use_count%</td>
                    <td>[#catalog_cupon_type_%cupon_type%#]</td>
                    <td>%cupon_value%</td>
                    <td>
                        <a href="#" onclick="jspub_click('show_cupon_form&id=%cupon_id%')"><img src="/admin/templates/default/images/icon_edit.gif" alt="[#catalog_list_cupon_action_edit#]" /></a>
                        <a href="#" onclick="jspub_confirm('cupon_delete&id=%cupon_id%','[#catalog_cupon_del_alert#]')"><img src="/admin/templates/default/images/icon_delet.gif" alt="[#catalog_cupon_del_alert#]" /></a>
                    </td>
                </tr>
<!-- @table_footer -->
            </table>
<!-- @no_data -->
            <center>[#catalog_cupons_table_empty#]</center>

<!-- @form -->
<script type="text/javascript">
<<<<<<< HEAD
=======
    $("button").button();
>>>>>>> 87768334148cdeba6b297f42ca587b579229490f
    $(function() {
        $( "#catalog_cupon_created" ).datepicker({
            dateFormat: "dd.mm.yy"
        });
        $( "#catalog_cupon_expiration" ).datepicker({
            dateFormat: "dd.mm.yy"
        });
    });
</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#catalog_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>%form_header%</h3>
            <form action="%form_action%" method="POST" enctype="multipart/form-data" id="save_cupon">
                <input type="hidden" name="cupon_id" value="%cupon_id%">
                <fieldset>
                    <label for="catalog_cupon_textcode">
                        [#catalog_cupon_textcode#]:<br/>
                        <small class="clear">[#catalog_cupon_textcode_decr#]</small>
                    </label>
                    <input type="text" name="cupon_textcode" id="catalog_cupon_textcode" value="%cupon_textcode%">
                    <input type="button" value="[#catalog_cupon_generate_label#]" onclick="santa_random_string(10, 'catalog_cupon_textcode')">
                </fieldset>
                <fieldset>
                    <label for="catalog_cupon_created">
                        [#catalog_cupon_created#]:
                    </label>
                    <input type="text" name="cupon_created" id="catalog_cupon_created" value="%cupon_created%" readonly disabled>
                </fieldset>
                <fieldset>
                    <label for="catalog_cupon_expiration">
                        [#catalog_cupon_expiration#]:
                    </label>
                    <input type="text" name="cupon_expiration" id="catalog_cupon_expiration" value="%cupon_expiration%">
                </fieldset>
                <fieldset>
                    <label for="catalog_cupon_use_count">
                        [#catalog_cupon_use_count#]:<br/>
                        <small class="clear">[#catalog_cupon_use_count_decr#]</small>
                    </label>
                    <input type="text" name="cupon_use_count" id="catalog_cupon_use_count" value="%cupon_use_count%">
                </fieldset>
                <fieldset>
                    <label for="catalog_cupon_type">
                        [#catalog_cupon_type#]:<br/>
                    </label>
                    <select id="catalog_cupon_type" name="cupon_type">
                        %cupon_type_list%
                    </select>
                </fieldset>
                <fieldset>
                    <label for="catalog_cupon_value">
                        [#catalog_cupon_cupon_value#]:
                    </label>
                    <input type="text" name="cupon_value" id="catalog_cupon_value" value="%cupon_value%">
                </fieldset>
                <fieldset class="page_submit_field">
                    <input type="button" name="submit" value="[#catalog_cupon_edit_save_label#]" onclick="jspub_form_submit('save_cupon','%form_action%')">
                </fieldset>
            </form>
        </div>
    </div>
</div>