<!-- @content -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#catalog_base_name#]</span></span>
<div id="page_container">
<div id="content_container">
<div class="content">
<h3>Информация о заказе</h3>
<b>ID:</b> %id%<br>
<b>[#catalog_order_updated#]:</b> %lastaccess%<br>
%ofields%
%order_html_body%
</div>
</div>
</div>
<!-- @ofield -->
<b>%name_full%:</b> %value%<br>
<!-- @not_found -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#catalog_base_name#]</span></span>
<div id="page_container">
<div id="content_container">
<div class="content">
<h3>[#catalog_order_not_found#]</h3>
</div>
</div>
</div>