<h3>Настройка перенаправлений</h3>
<p>
Перенаправления необходимы в случае когда, например, страница была перенесена на новый адрес, либо страница была удалена и вы хотите, чтобы посетителей перенаправляло на другой адрес.</p>
<p>Для того, чтобы создать перенаправление укажите адрес страницы, с которой вы хотите перенаправить посетителей, и адрес страницы на которую посетители будут направлены.</p>
<p>Адрес страниц, с которых вы перенаправляете посетителей, может быть быть относительным (/page1.html) или абсолютным (http://your-site.com/page1.html) - абсоютный адрес будет автоматически изменен на относительный</p>
<p>Адрес страниц, на которые вы хотите направить посетителей, также может быть относительным и абсолютным. Если вы хотите перенаправить на внутреннюю страницу вашего сайта, то лучше указывайте относительный путь, если на другой сайт - то указывайте полную ссылку.</p>

<h3>Массовое добавление перенаправлений</h3>
Для массового добавления перенаправлений нажмите на соответствующуу ссылку и вставьте в текстовое поле содержимое следующего формата:<br>
<strong>&lt;URL_FROM1 - откуда перенаправляем&gt;;&lt;URL_TO1 - куда перенаправляем&gt;;&lt;код ответа 1&gt;<br>
    &lt;URL_FROM2&gt;;&lt;URL_TO2&gt;;&lt;код ответа 2&gt;
    &lt;URL_FROM3&gt;;&lt;URL_TO3&gt;;&lt;код ответа 3&gt;
</strong><br><br>
Данный формат соответствую формату CSV. Пример:
<br><br>
<textarea style="width: 100%;" rows="7" wrap="off" disabled>
/old_url.html;/new_url.html;301
"/old_url2.html?filterid=testFilter";http://example.ru/site_page.html?from=redirect;301
catalog.html?cid=11&manufacturer=%D1%82%D0%B5%D1%81%D1%82;order.html;301
catalog.html?cid=56;/catalog.html?cid=10;301
catalog.html?filterid=filter&cid=49&offset=0;"http://example.ru/catalog.html?cid=49";301
</textarea>


