<p class="header_box">Укажите тип инсталяции и данные для доступа</p>

<form action="" method="post" id="sinstall_form">
 <fieldset>
  <label for="admin_login">Email администратора:</label>
  <input type="text" id="admin_login" name="admin_login" value="[#admin_login#]">
 </fieldset>
 
 <fieldset>
  <label for="admin_pass">Пароль администратора:</label>
  <input type="text" id="admin_pass" name="admin_pass" value="[#admin_pass#]">
 </fieldset>
 
 <fieldset>
  <label for="etalon_install">Инсталлировать демо-сайт:</label>
  <input type="checkbox" id="etalon_install" name="etalon_install" [#etalon_install_checked#]>
 </fieldset>
 
 <fieldset>
  <label for="is1251templates">Все мои шаблоны в кодировке 1251:</label>
  <input type="checkbox" id="is1251templates" name="is1251templates" [#is1251templates_checked#]>
 </fieldset>
 <fieldset>
  <label for="delete_sinstall">Удалить файлы установки:</label>
  <input type="checkbox" id="delete_sinstall" name="delete_sinstall" [#delete_sinstall_checked#]>
 </fieldset>
</form>