<!-- @blocks_list -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#contents_modul_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
	<div id="content_container">
		<div class="content">
			<h3>[#contents_list_blocks#]</h3>
			<table class="admin_table" cellpadding="0" cellspacing="1">
				<tr>
					<th>[#contents_block_name#]</th>
					<th>[#contents_items_count#]</th>
					<th colspan="3">...</th>
				</tr>
				%rows%
			</table>
			<fieldset class="page_submit_field">
				<button onclick="jspub_click('block_edit&blockid=0');">[#contents_block_add#]</button>
			</fieldset>
		</div>
	</div>
</div>
<!-- @blocks_row -->
				<tr>
				   <td><a href="#" onclick="jspub_click('show_contents&blockid=%id%')">%name%</a></td>
				   <td>%count%</td>
				   <td><a href="#" onclick="jspub_click('item_edit&item_id=0&blockid=%id%')"><img src="/admin/templates/default/images/12-em-plus_26x26.gif" title="[#contents_add#]" alt="[#contents_add#]" /></a></td>
				   <td><a href="#" onclick="jspub_click('block_edit&blockid=%id%')"><img src="/admin/templates/default/images/icon_edit.gif" title="[#contents_edit#]" alt="[#contents_edit#]" /></a></td>
				   <td><img onclick="jspub_confirm('block_delete&id=%id%','[#content_block_delete_confirm#]')" src="/admin/templates/default/images/icon_delet.gif" title="[#contents_delete#]" style="cursor:pointer;" alt="[#contents_delete#]" /></td>
				</tr>
<!-- @block_form -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#contents_modul_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
	<div id="content_container">
		<div class="content">
			<h3>[#contents_block_add_edit#]</h3>
			<form action="%action%" method="post" enctype="multipart/form-data" onsubmit="form_submit_include_content_auto();">
				<input type="hidden" name="id" value="%id%">
				<fieldset>
					<label for="contents_catname">[#contents_block_name#]: </label>
					<input id="contents_catname" name="name" type="text" value="%name%" />
				</fieldset>
				<fieldset>
					<label class="fNone clear">[#contents_block_descr#]:</label>

					<div style="display:block; width:635px; clear:both;">
						%description%
					</div>
					<div style="clear: both;"></div>
				</fieldset>
				<fieldset class="page_submit_field">
					<input type="submit" value="[#contents_save#]" />
				</fieldset>
			</form>
		</div>
	</div>
</div>
<!-- @begin -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#contents_modul_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
	<div id="content_container">
		<div class="content">
			<h3>[#contents_list_contents#] %block_name%</h3>
			<form action="%action%" method="post" enctype="multipart/form-data" onsubmit="form_submit_include_content_auto();">
				<input type="hidden" name="blockid" value="%blockid%" id="blockid" />
				<table class="admin_table">
					<tr>
						<th style="width: 75px;">
							[#contents_list_selectall#]<br/><br/>
							<input type="checkbox" id="allPict" name="allPict" value="on">
						</th>
						<th><a href="#" class="sort" onclick="jspub_click('show_contents&sortby=id&blockid=%blockid%')">[#content_fields_field_id#]</a></th>
						<th>[#contents_content#]</th>
						<th><a href="#" class="sort" onclick="jspub_click('show_contents&sortby=date&blockid=%blockid%')">[#content_fields_field_date#]</a></th>
						<th width="35"><a href="#" class="sort" onclick="jspub_click('show_contents&sortby=order&blockid=%blockid%')">[#content_fields_field_order#]</a></th>
						<th colspan="2">...</th>
					</tr>
<!-- @line -->
					<tr>
						<td>
							<input type="checkbox" name="item[%id%]">
						</td>
						<td>%id%</td>
						<td style="text-align:left;">
							%content%
						</td>
						<td>%post_date%</td>
						<td width="35" style="text-align: center;"><input type="text" name="order[%id%]" value="%order%" style="width:30px; margin: 0 auto; text-align: center;"></td>
						<td>
							<a onclick="jspub_click('item_edit&item_id=%id%')"><img src="/admin/templates/default/images/icon_edit.gif" border="0" alt="[#contents_edit#]" title="[#contents_edit#]" style="cursor:pointer;"></a>
						</td>
						<td>
							<a onclick="jspub_confirm('item_delete&item_id=%id%','[#content_item_delete_confirm#]')"><img src="/admin/templates/default/images/icon_delet.gif" alt="[#contents_delete#]" border="0" title="[#contents_delete#]" style="cursor:pointer;" /></a>
						</td>
					</tr>
<!-- @end -->
				</table>
				<script type="text/javascript">
					$(function () {
						$('input#allPict').change(function () {
							var $this = $(this),
								checkBoxes = $("input[name*=item\\[]");
							checkBoxes.prop("checked", !!($this.attr('checked')));
						});
					});
				</script>
				<fieldset class="page_submit_field">
					<select name="action">
						<option value="">[#contents_select_action#]</option>
						<option value="delete_selected">[#contents_delete_selected#]</option>
						<option value="delete_all">[#contents_delete_all#]</option>
					</select>
					<input type="submit" value="[#contents_save#]" />
					<button style="float:right;" onclick="jspub_click('item_edit&item_id=0&blockid=%blockid%')">[#contents_add#]</button>
				</fieldset>
			</form>
			%pages%
		</div>
	</div>
</div>
<!-- @form_edit -->
<script type="text/javascript">
	//выбор файла на сервере
	$('[data-rel="fileselect"]').click(function (e) {
		var input = $(this).parent().find('input');
		openKCFinder(input, "files");
	});
	//выбор изображения на сервере
	$('[data-rel="imageselect"]').click(function (e) {
		var input = $(this).parent().find('input');
		openKCFinder(input, "images");
	});
</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#contents_modul_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
	<div id="content_container">
		<div class="content">
			<h3>[#contents_form_header_edit#]</h3>
			<form action="%action%" method="post" enctype="multipart/form-data" onsubmit="form_submit_include_content_auto();">
				<input type="hidden" name="id" value="%id%" />
				<input type="hidden" name="blockid" value="%blockid%" />
				<fieldset>
					<label for="content_order">[#content_fields_field_order#]:</label>
					<input id="content_order" name="order" type="text" value="%order%" />
				</fieldset>
				%content_fields%
				<fieldset class="page_submit_field">
					<input type="submit" value="[#contents_save#]" />
				</fieldset>
			</form>
		</div>
	</div>
</div>
<!-- @form_add -->
<script type="text/javascript">
	//выбор файла на сервере
	$('[data-rel="fileselect"]').click(function (e) {
		var input = $(this).parent().find('input');
		openKCFinder(input, "files");
	});
	//выбор изображения на сервере
	$('[data-rel="imageselect"]').click(function (e) {
		var input = $(this).parent().find('input');
		openKCFinder(input, "images");
	});
</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#contents_modul_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
	<div id="content_container">
		<div class="content">
			<h3>[#contents_form_header_add#]</h3>
			<form action="%action%" method="post" enctype="multipart/form-data" onsubmit="form_submit_include_content_auto();">
				<input type="hidden" name="id" value="%id%" />
				<input type="hidden" name="blockid" value="%blockid%" />
				<fieldset>
					<label for="content_order">[#content_fields_field_order#]:</label>
					<input id="content_order" name="order" type="text" value="%order%" />
				</fieldset>
				%content_fields%
				<fieldset class="page_submit_field">
					<input type="submit" value="[#contents_save#]" />
				</fieldset>
			</form>
		</div>
	</div>
</div>
<!-- @content_fields -->
%fields_list%
<!-- @field_type_string -->
<fieldset>
	<label for="%field_id%">%field_title%:</label>
	<input id="%field_id%" name="%field_name%" type="text" value="%field_value%" />
</fieldset>
<!-- @field_type_textarea -->
<fieldset>
	<label for="%field_id%">%field_title%:</label>
	<textarea id="%field_id%" name="%field_name%" style="width:270px; height:75px;">%field_value%</textarea>
</fieldset>
<!-- @field_type_editor -->
<fieldset>
	<label>%field_title%:</label><br/><br/>
	%editor%
</fieldset>
<!-- @field_type_select -->
<fieldset>
	<label for="%field_id%">%field_title%:</label>
	<select name="%field_name%" id="%field_id%">
		<option value="0">[#contents_content_fields_empty#]</option>
		%options%
	</select>
</fieldset>
<!-- @field_type_select_options -->
		<option value="%field_value%"%selected%>%field_value%</option>
<!-- @field_type_checkbox -->
<fieldset>
	<table style="width:100%;">
		<tr>
			<td align="left" style="width:310px;"><label style="width:100%;">%field_title%:</label></td>
			<td>
				%options%
			</td>
		</tr>
	</table>
</fieldset>
<!-- @field_type_checkbox_options -->
	<div style="clear:both;">
		<input type="checkbox" name="%field_name%[%field_value%]"%checked%><label>%field_value%</label><br>
	</div>
<!-- @field_type_fileselect -->
<fieldset>
    <label for="%field_id%">%field_title%:</label>
    <input type="text" name="%field_name%" value="%field_value%" style="margin-right:5px;" id="%field_id%" placeholder="Не выбрано...">
    <span class="ui-icon ui-icon-folder-open" style="cursor: pointer; margin-top:5px;" data-rel="fileselect"></span>
</fieldset>
<!-- @field_type_imageselect -->
<fieldset>
    <label for="%field_id%">%field_title%:</label>
    <input type="text" name="%field_name%" value="%field_value%" style="margin-right:5px;" id="%field_id%" placeholder="Не выбрано...">
    <span class="ui-icon ui-icon-folder-open" style="cursor: pointer; margin-top:5px;" data-rel="imageselect"></span>
</fieldset>
<!-- @content_fields_edit -->
<script type="text/javascript">
    var ftype = $('#field_type'),
        ftypeOption = $('option[selected]', ftype),
        ftypeSel = ftypeOption.val(),
        propAddon = $('#prop_addon');

    if (ftypeSel == 'select' || ftypeSel == 'checkbox') {
        propAddon.css('display', 'block');
    } else {
        propAddon.css('display', 'none');
    };
	
    function selectChange() {
        var ftypeVal = ftype.val(),
            ftypeSel = ftypeOption.val();

        if (ftypeVal == 'select' || ftypeVal == 'checkbox' || ftypeSel == 'select' || ftypeSel == 'checkbox') {
            propAddon.css('display', 'block');
        } else {
            propAddon.css('display', 'none');
        };
    }
</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#contents_modul_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
	<div id="content_container">
		<div class="content">
			%form_title%
			<form action="%action%" method="post" enctype="multipart/form-data" onsubmit="form_submit_include_content_auto();">
				<input type="hidden" name="id" value="%id%" />
				<fieldset>
					<label for="content_field_title">[#content_fields_field_title#]:</label>
					<input id="field_title" name="content_field_title" type="text" value="%field_title%" />
				</fieldset>
				<fieldset>
					<label for="content_field_name">[#content_fields_field_name#]:</label>
					<input id="field_name" name="content_field_name" type="text" value="%field_name%" />
				</fieldset>
				<fieldset>
					<label for="content_field_type">[#content_fields_field_type#]:</label>
					<select id="field_type" name="content_field_type" onchange="selectChange()">
						<option value="string" %string_selected%>[#content_fields_field_type_string#]</option>
						<option value="textarea" %textarea_selected%>[#content_fields_field_type_textarea#]</option>
						<option value="editor" %editor_selected%>[#content_fields_field_type_editor#]</option>
						<option value="select" %select_selected%>[#content_fields_field_type_select#]</option>
						<option value="checkbox" %checkbox_selected%>[#content_fields_field_type_checkbox#]</option>
						<option value="fileselect" %fileselect_selected%>[#content_fields_field_type_fileselect#]</option>
						<option value="imageselect" %imageselect_selected%>[#content_fields_field_type_imageselect#]</option>
					</select>
				</fieldset>
				<fieldset id="prop_addon" style="display:none;margin:10px 0;">
					<label for="content_field_params">[#content_fields_field_type_label#]:</label>
					<textarea id="field_params" name="content_field_params" style="width:270px; height:75px;">%field_params%</textarea>
				</fieldset>
				<fieldset class="page_submit_field">
					<input type="submit" value="[#contents_save#]" />
				</fieldset>
			</form>
		</div>
	</div>
</div>
<!-- @custom_field_type_option -->
<option value="%field_value%"%selected%>[#content_fields_field_type_%field_type%#]</option>
<!-- @content_fields_title_new -->
<h3>[#content_fields_field_new#]</h3>
<!-- @content_fields_title_edit -->
<h3>[#content_fields_field_edit#]</h3>
<!-- @content_fields_list -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#contents_modul_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
	<div id="content_container">
		<div class="content">
			<h3>[#contents_menu_fields#]</h3>
			<form action="%action%" method="post">
				<table class="admin_table" cellpadding="0" cellspacing="1">
					<tr>
						<th width="20">&#10003;</th>
						<th>[#content_fields_field_title#]</th>
						<th>[#content_fields_field_name#]</th>
						<th>[#content_fields_field_type#]</th>
						<th width="35">[#content_fields_field_order#]</th>
						<th colspan="2">...</th>
					</tr>
					%rows%
				</table>
				<fieldset class="page_submit_field">
					<input type="submit" style="float:left;" name="fields_delete" value="[#content_fields_delete#]" />
					<input type="submit" name="save_order" value="[#content_fields_save#]" />
					<button style="float:right;" onclick="jspub_click('content_fields_edit&id=0');return false;">[#content_fields_add#]</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<!-- @content_fields_row -->
					<tr>
						<td><input type="checkbox" name="field_id[%id%]"></td>
						<td><a href="#" onclick="jspub_click('content_fields_edit&id=%id%');return false;" title="[#content_fields_edit#]">%field_title%</a></td>
						<td>%%field_name%%</td>
						<td>[#content_fields_field_type_%field_type%#]</td>
						<td width="35"><input type="text" name="field_order[%id%]" value="%field_order%" style="width:30px; margin: 0 auto; text-align: center;"></td>
						<td>
							<a href="#" onclick="jspub_click('content_fields_edit&id=%id%');return false;" title="[#content_fields_edit#]"><img src="/admin/templates/default/images/icon_edit.gif" alt="[#content_fields_edit#]" /></a>
						</td>
						<td>
							<a href="#" onclick="jspub_confirm('content_fields_delete&id=%id%','[#content_field_delete_confirm#]');return false;" title="[#contents_delete#]"><img src="/admin/templates/default/images/icon_delet.gif" alt="[#contents_delete#]" /></a>
						</td>
					</tr>
<!-- @pages -->
%first% %backward% %previous% %pages_block% %next% %forward% %last%
<!-- @page_first -->
<a href="#" onclick="jspub_click('%url%')">Начало</a>
<!-- @page_backward-->
<a href="#" onclick="jspub_click('%url%')">&laquo;</a>
<!-- @page_backward_disabled-->
&laquo;
<!-- @page_previous-->
<a href="#" onclick="jspub_click('%url%')">&laquo;</a>
<!-- @page_previous_disabled-->
&laquo;
<!-- @page_forward-->
<a href="#" onclick="jspub_click('%url%')">&raquo;</a>
<!-- @page_forward_disabled-->
&raquo;
<!-- @page_next-->
<a href="#" onclick="jspub_click('%url%')">&raquo;</a>
<!-- @page_next_disabled-->
&raquo;
<!-- @page_last -->
<a href="#" onclick="jspub_click('%url%')">Конец</a>
<!-- @page_active -->
<a href="#" onclick="jspub_click('%url%')">%page%</a>
<!-- @page_passive -->
%page%
<!-- @page_delimeter -->
&nbsp;-&nbsp;
<!-- @page_null -->