<script type="text/javascript">
    $('#page_tabs').parent().tabs();
    $(".submit, .button").button();
    $('#edit_ini_buttonsave').click(function () {
        var postArr = $('#edit_ini_form').serializeArray();
        $.post('[#form_aсtion#]', postArr, function (data) {
            //Обрабатываем ответ
            var post_res = jQuery.parseJSON(data);
            if (post_res != null) {
                //сначала проверка на наличие ошибок
                if (post_res.success) santaShowPopupHint("Info", post_res.info, 1500);
                else santaShowPopupHint("Error", post_res.info, 0);
            }
        });
        return false;
    });
    
    // выбор страницы 404 из структуры
    $("#opentree1").click(function (e) {
        showPageSelector('page_for_404');
    });
    
    // выбор страницы 503 из структуры
    $("#opentree2").click(function (e) {
        showPageSelector('page_for_503');
    });
    
    // скрываем показываем SMTP опции
    if($('#mail_mailer option[value="sendmail"]:selected').length) {
        $('#sendmail_props').css('display', 'block');
    } else {
        $('#sendmail_props').css('display', 'none');
    };
    $('#mail_mailer').change(function(){
        if($('#mail_mailer option[value="sendmail"]:selected').length) {
            $('#sendmail_props').css('display', 'block');
        } else {
            $('#sendmail_props').css('display', 'none');
        };
    });
    if($('#mail_mailer option[value="smtp"]:selected').length) {
        $('#smtp_props').css('display', 'block');
    } else {
        $('#smtp_props').css('display', 'none');
    };
    $('#mail_mailer').change(function(){
        if($('#mail_mailer option[value="smtp"]:selected').length) {
            $('#smtp_props').css('display', 'block');
        } else {
            $('#smtp_props').css('display', 'none');
        };
    });
    if(!$('#mail_smtp_auth').prop('checked')) {
        $('#mail_smtp_username').prop('disabled', true);
        $('#mail_smtp_passwd').prop('disabled', true);
    } else {
        $('#mail_smtp_username').prop('disabled', false);
        $('#mail_smtp_passwd').prop('disabled', false);
    }
    $('#mail_smtp_auth').change(function(){
        if(!$('#mail_smtp_auth').prop('checked')) {
            $('#mail_smtp_username').prop('disabled', true);
            $('#mail_smtp_passwd').prop('disabled', true);
        } else {
            $('#mail_smtp_username').prop('disabled', false);
            $('#mail_smtp_passwd').prop('disabled', false);
        }
    });
    
</script>
<span class="content_header">[#global_properties_CMS#] &rarr; <span class="black">[#global_prop_label_constant#]</span></span>
<div id="page_container">
    <div id="content_container">
        <div id="page_tabs">
            <ul>
                <li><a href="#global_prop">[#global_prop_label_define1#]</a></li>
                <li><a href="#cms_ftp_properties">[#global_prop_label_define11#]</a></li>
                <li><a href="#cms_mail_properties">[#global_prop_label_mail_props#]</a></li>
                <li><a href="#admin_interface_properties">[#global_prop_label_define2#]</a></li>
                <li><a href="#cms_file_path">[#global_prop_label_define3#]</a></li>
                <li><a href="#cms_other_settings">[#global_prop_label_define4#]</a></li>
                <li><a href="#antispam_properties">[#global_prop_label_antispam_props#]</a></li>
                <li><a href="#cache_properties">[#global_prop_label_define12#]</a></li>
            </ul>
        </div>
        <form action="[#form_aсtion#]" method="post" id="edit_ini_form">
            <div id="global_prop" class="content">
                <fieldset>
                    <label for="prefix">[#global_prop_label_prefix#]</label>
                    <input type="text" id="prefix" name="prefix" value="[#prefix_value#]">
                </fieldset>
                <fieldset>
                    <label for="db_host">[#global_prop_label_db_host#]</label>
                    <input type="text" id="db_host" name="db_host" value="[#db_host_value#]">
                </fieldset>
                <fieldset>
                    <label for="db_basename">[#global_prop_label_db_basename#]</label>
                    <input type="text" id="db_basename" name="db_basename" value="[#db_basename_value#]">
                </fieldset>
                <fieldset>
                    <label for="db_username">[#global_prop_label_db_username#]</label>
                    <input type="text" id="db_username" name="db_username" value="[#db_username_value#]">
                </fieldset>
                <fieldset>
                    <label for="db_password">[#global_prop_label_db_password#]</label>
                    <input type="text" id="db_password" name="db_password" value="[#db_password_value#]">
                </fieldset>
            </div>
            <div id="cms_ftp_properties" class="content">
                <fieldset>
                    <label for="ftp_host">[#global_prop_label_ftp_host#]</label>
                    <input type="text" id="ftp_host" name="ftp_host" value="[#ftp_host_value#]">
                </fieldset>
                <fieldset>
                    <label for="ftp_login">[#global_prop_label_ftp_login#]</label>
                    <input type="text" id="ftp_login" name="ftp_login" value="[#ftp_login_value#]">
                </fieldset>
                <fieldset>
                    <label for="ftp_pass">[#global_prop_label_ftp_pass#]</label>
                    <input type="text" id="ftp_pass" name="ftp_pass" value="[#ftp_pass_value#]">
                </fieldset>
            </div>
            <div id="cms_mail_properties" class="content">
                <fieldset>
                    <label for="mail_mailer">[#global_prop_label_mail_mailer#]</label>
                    <select name="mail_mailer" id="mail_mailer">
                        <option value="mail" %selected_mail%>PHP Mail ([#global_prop_label_mail_default#])</option>
                        <option value="sendmail" %selected_sendmail%>Sendmail</option>
                        <option value="smtp" %selected_smtp%>SMTP</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label for="mail_name">[#global_prop_label_mail_sender_name#]</label>
                    <input type="text" id="mail_name" name="mail_name" value="[#mail_name_value#]" placeholder="[#global_prop_label_mail_default_placeholder#]">
                </fieldset>
                <fieldset>
                    <label for="mail_email">[#global_prop_label_mail_sender_email#]</label>
                    <input type="text" id="mail_email" name="mail_email" value="[#mail_email_value#]" placeholder="[#global_prop_label_mail_default_placeholder#]">
                </fieldset>
                <div id="sendmail_props" style="display:none;">
                    <fieldset>
                        <label for="mail_sendmail_path">[#global_prop_label_mail_sendmail_path#]</label>
                        <input type="text" id="mail_sendmail_path" name="mail_sendmail_path" value="[#mail_sendmail_path_value#]" placeholder="[#global_prop_label_mail_sendmail_placeholder#]">
                    </fieldset>
                </div>
                <div id="smtp_props" style="display:none;">
                    <fieldset>
                        <label for="mail_smtp_host">[#global_prop_label_mail_smtp_host#]</label>
                        <input type="text" id="mail_smtp_host" name="mail_smtp_host" value="[#mail_smtp_host_value#]">
                    </fieldset>
                    <fieldset>
                        <label for="mail_smtp_port">[#global_prop_label_mail_smtp_port#]</label>
                        <input type="text" id="mail_smtp_port" name="mail_smtp_port" value="[#mail_smtp_port_value#]">
                    </fieldset>
                    <fieldset>
                        <label for="mail_smtp_secure">[#global_prop_label_mail_smtp_security#]</label>
                        <select name="mail_smtp_secure" id="mail_smtp_secure">
                            <option value="" %selected_false%>[#global_prop_label_mail_default#]</option>
                            <option value="ssl" %selected_ssl%>SSL</option>
                            <option value="tls" %selected_tls%>TLS</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label for="mail_smtp_auth">[#global_prop_label_mail_smtp_auth#]</label>
                        <input type="checkbox" id="mail_smtp_auth" name="mail_smtp_auth" [#mail_smtp_auth_value#]>
                    </fieldset>
                    <fieldset>
                        <label for="mail_smtp_username">&nbsp;&nbsp;&nbsp;&nbsp;—&nbsp;[#global_prop_label_mail_smtp_username#]</label>
                        <input type="text" id="mail_smtp_username" name="mail_smtp_username" value="[#mail_smtp_username_value#]">
                    </fieldset>
                    <fieldset>
                        <label for="mail_smtp_passwd">&nbsp;&nbsp;&nbsp;&nbsp;—&nbsp;[#global_prop_label_mail_smtp_password#]</label>
                        <input type="text" id="mail_smtp_passwd" name="mail_smtp_passwd" value="[#mail_smtp_passwd_value#]">
                    </fieldset>
                </div>
                <fieldset>
                    <label for="mail_charset">[#global_prop_label_mail_charset#]</label>
                    <select name="mail_charset" id="mail_charset">
                        <option value="utf-8" %selected_utf8%>UTF-8 ([#global_prop_label_mail_default#])</option>
                        <option value="iso-8859-1" %selected_iso8859%>ISO-8859-1</option>
                        <option value="cp-1251" %selected_cp1251%>CP-1251</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label for="mail_encoding">[#global_prop_label_mail_encoding#]</label>
                    <select name="mail_encoding" id="mail_encoding">
                        <option value="8bit" %selected_8bit%>8 bit ([#global_prop_label_mail_default#])</option>
                        <option value="7bit" %selected_7bit%>7 bit</option>
                        <option value="binary" %selected_binary%>Binary</option>
                        <option value="base64" %selected_base64%>base64</option>
                        <option value="quoted-printable" %selected_quoted%>Quoted-printable</option>
                    </select>
                </fieldset>
            </div>
            <div id="admin_interface_properties" class="content">
                <fieldset>
                    <label for="default_language">[#global_prop_label_default_language#]</label>
                    <input type="text" id="default_language" name="default_language" value="[#default_language_value#]">
                </fieldset>
                <fieldset>
                    <label for="default_charset">[#global_prop_label_default_charset#]</label>
                    <input type="text" id="default_charset" name="default_charset" value="[#default_charset_value#]">
                </fieldset>
                <fieldset>
                    <label for="admin_section_default">[#global_prop_label_id_section_default#]</label>
                    <input type="text" id="admin_section_default" name="admin_section_default" value="[#admin_section_default_value#]"> 
                </fieldset>
                <fieldset>
                    <label for="close_windows_on_save">[#global_prop_label_close_windows_on_save#]</label>
                    <input type="checkbox" id="close_windows_on_save" name="close_windows_on_save" [#close_windows_on_save_value#]> 
                </fieldset>
                <fieldset>
                    <label for="show_int_errore_message">[#global_prop_label_show_errore#]</label>
                    <input type="checkbox" id="show_int_errore_message" name="show_int_errore_message" [#show_int_errore_message_value#]>
                </fieldset>
            </div>
            <div id="cms_file_path" class="content">
                <fieldset>
                    <label for="path_page_template">[#global_prop_label_path_page_template#]</label>
                    <input type="text" id="path_page_template" name="path_page_template" value="[#path_page_template_value#]">
                </fieldset>
                <fieldset>
                    <label for="path_page_content">[#global_prop_label_path_page_content#]</label>
                    <input type="text" id="path_page_content" name="path_page_content" value="[#path_page_content_value#]">
                </fieldset>
            </div>
            <div id="cms_other_settings" class="content">
                <fieldset>
                    <label for="http_host">[#global_prop_http_host#]</label>
                    <input type="text" id="http_host" name="http_host" value="[#http_host_value#]">
                </fieldset>
                <fieldset>
                    <label for="page_for_404">[#global_prop_page_for_404#]</label>
                    <input type="text" id="field_page_for_404" name="page_for_404" value="[#page_for_404_value#]" style="margin-right:5px;"> <span class="ui-icon ui-icon-folder-open" style="cursor: pointer; margin-top:5px;" id="opentree1"></span>
                </fieldset>
                <fieldset>
                    <label for="page_for_503">[#global_prop_page_for_503#]</label>
                    <input type="text" id="field_page_for_503" name="page_for_503" value="[#page_for_503_value#]" style="margin-right:5px;"> <span class="ui-icon ui-icon-folder-open" style="cursor: pointer; margin-top:5px;" id="opentree2"></span>
                </fieldset>
                <fieldset>
                    <label for="site_on_service">[#global_prop_site_on_service#]</label>
                    <select name="site_on_service" id="site_on_service">
                        <option value="false" %selected_false%>[#global_prop_site_on_service_false#]</option>
                        <option value="true" %selected_true%>[#global_prop_site_on_service_true#]</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label for="email_for_errore">[#global_prop_label_email_for_errore#]</label>
                    <input type="text" id="email_for_errore" name="email_for_errore" value="[#email_for_errore_value#]">
                </fieldset>
                <fieldset>
                    <label for="tweak_factor">[#global_prop_label_tweak_factor#]</label>
                    <input type="text" id="tweak_factor" name="tweak_factor" value="[#tweak_factor_value#]">
                </fieldset>
                <fieldset>
                    <label for="jpeg_quality">[#global_prop_label_jpeg_quality#]</label>
                    <input type="text" id="jpeg_quality" name="jpeg_quality" value="[#jpeg_quality_value#]">
                </fieldset>
                <fieldset>
                    <label for="redir_www">[#global_prop_label_redir_www#]</label>
                    <input type="checkbox" id="redir_www" name="redir_www" [#redir_www_value#]>
                </fieldset>
                <fieldset>
                    <label for="use_pretty_url">[#global_prop_label_use_pretty_url#]</label>
                    <input type="checkbox" id="use_pretty_url" name="use_pretty_url" [#use_pretty_url_value#]>
                </fieldset>
                <fieldset>
                    <label for="generate_statistic">[#global_prop_label_generate_statistic#]</label>
                    <input type="checkbox" id="generate_statistic" name="generate_statistic" [#generate_statistic_value#]>
                </fieldset>
                <fieldset>
                    <label for="time_creat">[#global_prop_label_generate_time_creat#]</label>
                    <input type="checkbox" id="time_creat" name="time_creat" [#time_creat_value#]>
                </fieldset>
                <fieldset>
                    <label for="use_https">[#global_prop_label_use_https#]</label>
                    <input type="checkbox" id="use_https" name="use_https" [#use_https_value#]>
                </fieldset>
                <fieldset>
                    <label for="ssl_connection">[#global_prop_label_ssl_connection#]</label>
                    <input type="checkbox" id="ssl_connection" name="ssl_connection" [#ssl_connection_value#]>
                </fieldset>
                <fieldset>
                    <label for="webform_coding">[#global_prop_webform_coding#]</label>
                    <input type="checkbox" id="webform_coding" name="webform_coding" [#webform_coding_value#]>
                </fieldset>
                <fieldset>
                    <label for="print_mysql_errors">[#global_prop_print_mysql_errors#]</label>
                    <input type="checkbox" id="print_mysql_errors" name="print_mysql_errors" [#print_mysql_errors_value#]>
                </fieldset>
                <fieldset>
                    <label for="admin_tpl_editor">[#global_prop_admin_tpl_editor#]</label>
                    <select name="admin_tpl_editor" id="admin_tpl_editor">
                        <option name="html" %selected_html%>html</option>
                        <option name="code" %selected_code%>code</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label for="is_1251_templates">[#global_prop_is_1251_templates#]</label>
                    <input type="checkbox" id="is_1251_templates" name="is_1251_templates" [#is_1251_templates_value#]> 
                </fieldset>
            </div>
            <div id="cache_properties" class="content">
                <fieldset>
                    <label for="cached_page">[#global_prop_label_cached_page#]</label>
                    <input type="checkbox" id="cached_page" name="cached_page" [#cached_page_value#]>
                </fieldset>
                <fieldset>
                    <label for="">[#global_prop_label_cache_driver#]</label>
                    <select name="cache_driver" id="cache_driver" [#cache_driver_value#]>[#options_cache#]</select>
                </fieldset>
                <fieldset>
                    <label for="">[#global_prop_label_cache_host#]</label>
                    <input type="text" id="cache_hostname" name="cache_hostname" value="[#cache_hostname_value#]">
                </fieldset>
                <fieldset>
                    <label for="">[#global_prop_label_cache_port#]</label>
                    <input type="text" id="cache_port" name="cache_port" value="[#cache_port_value#]">
                </fieldset>
                <fieldset>
                    <label for="">[#global_prop_label_cache_prefix#]</label>
                    <input type="text" id="cache_prefix" name="cache_prefix" value="[#cache_prefix_value#]">
                </fieldset>
                <fieldset>
                    <label for="cached_page">[#global_prop_label_cache_compressed#]</label>
                    <input type="checkbox" id="cache_compressed" name="cache_compressed" [#cache_compressed_value#]>
                </fieldset>
            </div>
            <div id="antispam_properties" class="content">
                <fieldset>
                    <label for="captcha_service">[#global_prop_admin_captcha_service#]</label>
                    <select name="captcha_service" id="captcha_service">
                        <option value="default" %selected_default%>default</option>
                        <option value="recaptcha" %selected_recaptcha%>reCaptcha</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label for="recaptcha_public_key">[#global_prop_label_recaptcha_public_key#]</label>
                    <input type="text" id="recaptcha_public_key" name="recaptcha_public_key" value="[#recaptcha_public_key_value#]">
                </fieldset>
                <fieldset>
                    <label for="recaptcha_private_key">[#global_prop_label_recaptcha_private_key#]</label>
                    <input type="text" id="recaptcha_private_key" name="recaptcha_private_key" value="[#recaptcha_private_key_value#]">
                </fieldset>
            </div>
            <fieldset class="page_submit_field">
                <input type="submit" class="submit" value="[#global_prop_label_save#]" id="edit_ini_buttonsave">
            </fieldset>
        </form>
    </div>
</div>