<!-- @body -->
<span class="content_header">[#global_properties_CMS#] &rarr; <span class="black">Информация о системе</span></span>
<div id="page_container">
 <div id="content_container">
 <div class="content">
 <h3>Информация о сервере</h3>
 <ul>
  <li>Имя сервера: [#SERVER_NAME#]</li>
  <li>Версия сервера: [#SERVER_SOFTWARE#]</li>
  <li>Версия PHP: [#PHP_VER#]</li>
  <li>Версия MySQLi: [#MYSQL_VER#]</li>
  <li>IP адрес/порт сервера: [#SERVER_ADDR#]:[#SERVER_PORT#]</li>
  <li>Выделено серверной памяти: [#MEMORY_MAX#]</li>
  <li>Лимит на загрузку (upload): [#UPLOAD_MAX#]</li>
  <li>Лимит на размер POST-запроса: [#POST_MAX#]</li>
  <li>Лимит времени получения POST-запроса: [#POSTTIME_MAX#]</li>
  <li>Лимит времени исполнения PHP скрипта: [#RUNTIME_MAX#]</li>
 </ul><br/>
 <h3>Особенности работы</h3>
 <ul>
  <li>Изменения всех прав скриптом: [#SERVER_CAN_CHMOD_SCRIPT#]</li>
  <li>Доступ к файлам по FTP: [#SERVER_CAN_FTP_CONNECT#]</li>
  <li>Ваш IP адрес: [#REMOTE_ADDR#]</li>
  <li>Ваш браузер, система:<br/>[#REMOTE_CLIENT#]</li>
 </ul><br/>
 <h3>Версия CMS</h3>
 <ul>
  <li>Ядро: [#version_kernel#]</li>
  <li>Наличие обновлений: [#new_version_info#]</li>
  <!--li>Административный интерфейс: [#version_gui#]</li>
  <li>Версия редактора: [#version_content_editor#]</li-->
 </ul><br/>
 </div>
</div>
</div>